<!DOCTYPE html>
<html>
<body>




<p>
News story:  <a href={{link['link']}} target="_blank"> {{link['title']}} </a>
</p>

<p id="timer">
{{time_limit}}
</p>


<form method="POST" action="confirm.html">
    <textarea name="text" placeholder="Write reaction here." rows="4" cols="50" id="reaction"></textarea>
    <input type="hidden" name="step" value="{{step}}">
    <input type="hidden" name="uid" value="{{uid}}">
    <input type="submit">
</form>


<audio id="sound1">
  <source src="static/sound.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>

<script>
var timeLeft = {{time_limit}};//120;
var reactTime = 45;//45;
var elem = document.getElementById('timer');
var first = 1;

var timerId = setInterval(countdown, 1000);

function PlaySound(soundObj) {
  var sound = document.getElementById(soundObj);
  sound.volume = .3;
  sound.play();
}
function PauseSound(soundObj) {
  var sound = document.getElementById(soundObj);
  sound.pause();
}

function countdown() {
  if (timeLeft == 0) {
    var nameValue = document.getElementById("reaction").value;
    if (nameValue != "" && reactTime != 0) {
      elem.innerHTML = reactTime;
      reactTime--;
    } else if (reactTime != 0){
      if (first) {
        PlaySound("sound1")
        first = 0
      } else {
        PauseSound("sound1")
      }
      elem.innerHTML = "Please start your response.";
    } else {
      clearTimeout(timerId);
      elem.innerHTML = 0;
    }
  } else {
    elem.innerHTML = timeLeft;
    timeLeft--;
  }
}
</script>

</body>
</html>