<!DOCTYPE html>
<html>
<body>


<p id="timer">
10
</p>

<p>Is this something you would post on Facebook or another social network?</p>
<p>{{content}}</p>
<form method="POST" action="{{next_page}}">
    <input type="hidden" name="step" value="{{step}}">
    <button type="submit" name="action" value="Yes" disabled="true" id="button1">Yes</button>
    <button type="submit" name="action" value="No" disabled="true" id="button2">No</button>
</form>


<embed src="" autostart="false" width="0" height="0" id="sound1"
enablejavascript="true">

<script>
var timeLeft = 10;//10;
var voiceDelay = 10;
var elem = document.getElementById('timer');

var timerId = setInterval(countdown, 1000);

var voices = speechSynthesis.getVoices();

function PlaySound(soundObj) {
  var sound = document.getElementById(soundObj);
  sound.Play();
}

function countdown() {
  if ((timeLeft == voiceDelay) && {{play_voice}}) {
    var msg = new SpeechSynthesisUtterance('{{content}}');
    speechSynthesis.getVoices().forEach(function(voice) {
      console.log(voice.name, voice.default ? voice.default :'');
      if (voice.name === 'Google US English') {
        msg.voice = voice;
      }
    });
    msg.rate = .9;
    window.speechSynthesis.speak(msg);
  }

  if ((timeLeft == voiceDelay - 3)) {
    document.getElementById('button1').disabled = false
    document.getElementById('button2').disabled = false
  }

  if (timeLeft == 0) {
    clearTimeout(timerId);
    elem.innerHTML = 0;
  } else {
    elem.innerHTML = timeLeft;
    timeLeft--;
  }
}
</script>

</body>
</html>