<p>Instructions</p>

<p>
On each page, please follow the link and read the article. There is a timer for 120 seconds, but there is no consequence to spending more time. I am trying to create a situation where you are not allowed enough time to think everything through. Since the news website may be covering this window, there will be an audio signal when the time is up. 
</p>
<p>
Once you have read/skimmed the article, please write a quick reaction that could realistically be a post on facebook, twitter, or another social network. The only person who will see your responses will be me and they will be deleted after the study is over. In addition, all data will be anonymized.
</p>
<p>
After submitting the post, you will be asked if it is something you could see yourself actully posting to social media. Sometimes, the computer will read your post back to you using text to speech. If you want a pair of headphones, you can ask me for a pair. Please make this decision quickly. 
</p>

<form method="POST" action="input.html">
    <input type="hidden" name="step" value="1">
    <button type="submit" name="action" value="Yes">Continue</button>
</form>