

<form method="POST" action="intro.html">
  <table>
    <tr>
    <td>
      A brief survey on social media usage.
    </td>
    </tr>


    <tr>
    <td>
    How often do you log on to a social media website or app?
    </td>
    </tr>
    <tr>
      <td>
      <input type="radio" name="login" value="A few times a month">A few times a month
      <input type="radio" name="login" value="A few times a week">A few times a week
      <input type="radio" name="login" value="Once a day">Once a day
      <input type="radio" name="login" value="A few times each day">A few times each day
      </td>
    </tr>


    <tr>
    <td>
    How often do you post on a social media website or app?
    </td>
    </tr>
    <tr>
      <td>
      <input type="radio" name="post" value="A few times a month">A few times a month
      <input type="radio" name="post" value="A few times a week">A few times a week
      <input type="radio" name="post" value="Once a day">Once a day
      <input type="radio" name="post" value="A few times each day">A few times each day
      </td>
    </tr>

    <tr>
    <td>
    If you post, how long do you think about what you are posting before posting?
    </td>
    </tr>

    <tr>
      <td>
      <input type="radio" name="time" value="I don't post">I don't post
      <input type="radio" name="time" value="I don't think about it">I don't think about it
      <input type="radio" name="time" value="A short amount of time">A short amount of time
      <input type="radio" name="time" value="Some time or more">Some time or more
      </td>
    </tr>

    <tr>
      <td>If you do post, what are some common reasons for doing so? </td>
    </tr>
    <tr>
      <td><input type="text" name="reasons"></td>
    </tr>

    <tr>
    <td>
    How often do you see posts by others that you think should not have been posted?
    </td>
    </tr>
    <tr>
      <td>
      <input type="radio" name="others" value="A few times a month">A few times a month
      <input type="radio" name="others" value="A few times a week">A few times a week
      <input type="radio" name="others" value="Once a day">Once a day
      <input type="radio" name="others" value="A few times each day">A few times each day
      </td>
    </tr>


    <tr>
    <td>
    How often do you regret a post you have made?
    </td>
    </tr>
    <tr>
      <td>
      <input type="radio" name="regret" value="A few times a month">A few times a month
      <input type="radio" name="regret" value="A few times a week">A few times a week
      <input type="radio" name="regret" value="Once a day">Once a day
      <input type="radio" name="regret" value="A few times each day">A few times each day
      </td>
    </tr>

  </table>


    <input type="submit">

</form>